.boy(class=boy.traits.join(' '))
  h3.place= boy.place
  .frame
    .avatar_frame
      img.avatar(src=boy.image)
      h2.name= boy.name
      h3.number
        a(href="tel:#{boy.tnumber}")= boy.tnumber
  .traits
    for trait in boy.traits
      span.trait(class=trait)= trait